body {
    min-height: 100vh;
    flex-direction: column;
}

.site-header {
    flex-direction: column;
}

.header-top {
    border-radius: 4px;
    background: #333;
    color: #d1dbbd;
    height: 50px;
}

.navigation-div {
    position: relative;
    float: right;
    right: 100px;
    font-weight: bold;
    color: #d1dbbd;
}

.main-menu {
    margin: 0;
    line-height: 50px;
    list-style: none;
    background: inherit;
}

.main-menu li {
    display: inline;
    margin-right: 5px;
}

.main-menu a {
    color: inherit;
    padding: 0 40px 0 20px;
    text-decoration: none;
}

.main-menu a:hover {
    color: darkred;
}

.header-right-part {
    position: relative;
    float: right;
    margin: 0 30px 0 0;
    font-weight: bold;
    color: inherit;
    line-height: 50px;
}

.header-msg {
    position: relative;
    float: left;
    margin-left: 10px;
    font-weight: bold;
    line-height: 50px;
    color: inherit;
}

.header-bottom {
    background: rgb(229, 229, 229);
    border-radius: 4px;
    padding-left: 50px;
}

.header-title {
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px 2px grey;
    padding-top: 20px;

}

.header-ribbon {
    width: auto;
    height: 180px;
    border-radius: 4px;
    overflow: hidden;
    margin: 0px 2px 0px;
}

.header-ribbon img {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0px 5px 50px;
}

.header-ribbon img:hover {
    cursor: pointer;
    border: ridge;
    color: lightgrey;
}

.container {
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}

.navbar-title h4 {
    font-size: 28px;
    font-weight: bold;
    display: table-caption;
}

.titles-list {
    margin-left: 50px;
}

ul.nav.nav-pills.nav-stacked {
    border-right: 1px solid #333;
    padding-right: 50px;
}

.navbar-element a {
    color: inherit;
    text-decoration: none;
}

.media-list {
    margin-left: 60px;
}

.media img {
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

.media-heading {
    margin: 20px 0 0 30px;
    font-size: 28px;
    font-weight: bold;
}

hr {
    border-top: 1px solid #333;
}

.details-page-div {
    display: flex;
    flex-direction: row;
    margin: 50px 30px 50px 50px;
}

.element-title-img p, .upload-title p {
    font-size: 28px;
    font-weight: bold;
    padding-top: 2%;
    text-shadow: 1px 1px 2px grey;
}

.element-title-img {
    flex-direction: column;
}

.element-description {
    display: inline-flex;
    flex-direction: column;
    margin: 70px 0 10px 100px;
}

.element-description p {
    margin-bottom: 50px;
    font-size: 20px;
}

.download-btn, .btn-default, .back-to-index-page-btn {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #49ae52, #306428);
    font-weight: bold;
    padding: .5em 1.25em;
    margin: 0 auto 0 auto;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    float: right;
}

.back-to-index-from-details-btn {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    background-color: #f44336;
    font-weight: bold;
    padding: .5em 1.25em;
    margin: 20px auto 0 auto;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    float: right;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.back-to-index-page-btn {
    margin-top: 20px;
    color: white;
}

.download-btn:hover, .btn-default:hover, .back-to-index-page-btn:hover {
    background: #306428;
    cursor: pointer; /* change cursor to hand */
}

.download-btn-href {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.back-to-index-from-details-btn:hover {
    background: #ac2925;
    cursor: pointer;
}

.upload-title {
    text-align: center;
}

.upload-form {
    margin: auto;
    padding-bottom: 50px;
}

.form-group {
    font-size: 16px;
}

.btn-default {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-top: 20px;
}

#exampleInputFile {
    margin-bottom: 30px;
}

.upload-status-page-div {
    display: grid;
    margin: 30px auto 30px auto;
}

.upload-status-title {
    text-shadow: 2px 2px 2px grey;
    text-align: center;
}

.upload-status-msg {
    text-align: center;
    margin: 20px;
}

.back-to-index-div {
    margin: auto;
}

.site-footer {
    background: #333;
    color: #d1dbbd;
    border-radius: 4px;
    height: 50px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center; /* centered by vertically */
    flex-direction: column;
}

/* css for login form */
.login-form {
    border: 3px solid #f1f1f1;
    margin: 1% 35% 1% 35%;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.form-field {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-btn, .cancel-btn {
    color: white;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login-btn:hover, .cancel-btn:hover {
    opacity: 0.8;
}

.login-btn {
    background: linear-gradient(to bottom, #49ae52, #306428);
}

/* Extra style for the cancel button (red) */
.cancel-btn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.login-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.categories-initial-title {
    font-size: 28px;
    font-weight: bold;
    color: #8c8c8c;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: inherit;
    padding-top: 10px;
}

.categories-initial-title span {
    color: #555555;
}

.left-arrow-img {
    width: 150px;
    height: 120px;
    margin: auto;
    display: block;
    padding-top: 30px;
}

.error-div {
    color: #f44336;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    margin: 20px;
}